/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
    text-decoration: none;
}

/* BACKGROUND */

body {
   background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/amsterdamfiets.jpg");
    background-size: cover;
    background-attachment: fixed;
}
body, html {
    width: 100%;
    height: 100%;
}
.body-list-of-places {
    background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/Cafe%20Hoppe.jpg");
}
.body-info-page {
    background-image: none;
    background-color: white;
    font-size: 12px;
}
.body-feedback-page {
    background-image: none;
    background-color: white;
}

/* TYPOGRAPHY */

h1 {
    font-family: "LemonMilk", sans-serif;
    color: #df4f5d;
    text-align: center;
    font-size: 40px;
    margin-top: 15px
}
h4 {
	font-family: "LemonMilk", sans-serif;
    color: #df4f5d;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}
h3 {
    font-family:"NeueHaasGrotesk Bold", sans-serif;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}
p {
    font-family:"NeueHaasGrotesk Regular", sans-serif;
    color: white;
}
.title-list-of-places {
    font-family: "LemonMilk";
    color: #df4f5d;
    text-align: center;
    font-size: 20px;
}

/* CONTENT OF CARDS */
/* zelf gestyled */

.cmda-card h3 {
	line-height: 1.25rem;
	padding: .75rem;
	background: #df4f5d;
	color: white;
    text-transform: uppercase;
}
.cmda-card img {
    width: 100%;
    align-content: center;
    display: block;
    margin-bottom: 10px;
}
.cmda-card a {
	display: block;
	margin: 1rem 1rem;
    position: center;
	line-height: 2.75rem;
	text-align: center;
	background-color: rgb(45,147,134);
	color: white;
	border-radius: .5rem;
    font-family: "NeueHaasGrotesk Medium", sans-serif;
}
.cmda-card p {
    font-family: "NeueHaasGrotesk Regular", sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 6px;
    margin-right: 6px;
}
figcaption {
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-family: "NeueHaasGrotesk Regular", sans-serif;
    padding: 1em;
}

/* TOPBAR */

header {
    border: 5px solid #df4f5d;
    margin: 50px;
    padding: 20px;
    margin-top: 20px;
}
.topbar {
    position:relative;
    border: 5px;
    margin: 0px;
    padding: 0px;
    background-color: #df4f5d; 
}
.topbar h1 {
    color: white;
    font-family: "LemonMilk", sans-serif;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    margin-bottom: 50px;
    max-width 80%;
}
.topbar a {
    position:absolute;
    display: block;
    font-family: "NeueHaasGrotesk Medium", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    border: 3px solid white;
    padding: 5px;
    padding: 7px;
    z-index: 10;
    top:50%;
    transform:translateY(-50%);
    left:8px;
}

/* NAVIGATION */
/* bron sanne */

.navigation ul {
    display: flex;
    margin-top: -50px;
}
.navigation li {
    flex-basis: 50%;
    /* vanaf hier weer stefan */
    padding: 0;
    border: 3px solid white;
}
.navigation li a {
    display: block;
    text-align: center;
    line-height: 60px;
    background-color: #df4f5d;
    font-family: "NeueHaasGrotesk Medium", sans-serif;
    color: white;
}

/* LIST OF PLACES */

.isga-nearest-list {
    background-color: #df4f5d;
    padding-top: 50px;
}
.isga-list {
    background-color: #df4f5d;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
    margin-top: 17px;
    margin-bottom: px;
}
.isga-list-nearest {
    background-color: #df4f5d;
    height: 345px;
    border: 5px solid white;
    text-align: left;
    margin-top: 30px;
    box-sizing: border-box
}
.isga-list-nearest h3 {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
	color: white;
    text-transform: uppercase;
    text-align: left;
}
.isga-list-nearest p {
    padding-left: 10px;
    margin-bottom: 10px;
    color: white;
    text-transform: uppercase;
    text-align: left;
}
.isga-list-nearest img {
    height: 80%;
    width: 100%;
    align-content: center;
    display: block;
    margin-bottom: 0px;
}
.isga-list h3 {
	padding-left: 10px;
	color: white;
    text-transform: uppercase;
    text-align: left;
}
.isga-list p {
    padding-left: 10px;
    color: white;
    text-transform: uppercase;
    text-align: left;
}

/* FOOTER HOMEPAGE */

footer {
    background-color: #df4f5d;
    font-size: 28px;
    padding: 5px;
    height: 30px;
    width: 138px;
    position: fixed;
    bottom: 50px;
    border: 5px solid white;
    left: 50%;
    transform: translateX(-50%);
}
footer a {
    color: white;
    font-family: "NeueHaasGrotesk Medium", sans-serif;
    text-transform: uppercase;
}

/* MAP OF PLACES */

hr {
    border: 2px solid #df4f5d;
}

.my-content p {
    text-transform: uppercase;
}

.navigation li {
    text-transform: uppercase;
}
/* INFO PAGE */

.image-info-page img {
    width: 95%;
    display: inline-block;
    margin-top: -25px;
    margin-bottom: 10px;
    border: 1px solid black;
    left: 50%;
    transform: translateX(2.5%);
}
.text-info-page h6, li {
    font-family: "NeueHaasGrotesk Regular", sans-serif;
    background-color: rgba(255,255,255,0.7);
    color: black;
    line-height: 19px;
    padding: 6px;
}
.text-info-page li {
    text-align: center;
}
img.OVButton {
    width: 60%; 
    transform: translateX(34%);
    margin-bottom: 10px;
}
iframe.StadskantineMap {
    width: 100%;
    height:20em;
	border:solid 1px rgb(0,102,204);
}
.title-reviews h3 {
    color: black;
    font-size: 20px;
}
.reviews {
    background-color: rgba(255,255,255,0.7);
    border: 1px solid black;
    margin: 6px;
    min-height: 200px;
}
.reviews img {
    max-height: 110px;
    border-radius: 50%;
    float: left;
    margin: 6px 6px 6px 6px;
}
.reviews h4 {
    font-family: "NeueHaasGrotesk Medium", sans-serif;
    color: black;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 6px;
    padding-top: 10px;
}
.reviews p {
    color: black;
    padding-bottom: 10px;
    padding: 6px;
    line-height: 19px;
}
.feedback-button h2 {
    font-family: "LemonMilk", sans-serif;
    color: white;
    text-align: center;
    padding: 9px;
    background-color: #df4f5d;
    border: 2px solid black;
    width: 80%;
    margin-bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.text-info-page ul {
    border-bottom: 1px solid black;
    margin: 11px;
    
}

/* FEEDBACK PAGE */

.body-feedback-page h2 {
    font-family: "LemonMilk", sans-serif;
    color: black;
    text-align: center;
    font-size: 20px;
}
.body-feedback-page label {
    font-family: "NeueHaasGrotesk Normal", sans-serif;
    font-size: 15px;
    width: 100%;
}
.body-feedback-page input {
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
}
textarea {
    float: left;
    padding: 0 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 0; 
}
input[type="submit"]  {
    width: 90%;
    background-color: #df4f5d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}